spring:
  datasource:
    jpa:
      show-sql: true
    url: jdbc:mysql://localhost:3306/cadastro
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource